@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

h1 {
  color: #b6241f;
}

h2 {
  color: #b6241f;
  font-weight: 300;
  letter-spacing: 8px;
}

h3 {
  color: #b6241f;
  font-weight: 300;
}

h4 {
  color: #b6241f;
  font-weight: 300;
}

body {
  background-color: #cecece;
}

nav {
  background-color: rgba(0, 0, 0, 0.822);
  min-height: 150px;
}

.nav-link {
  color: #fff;
  font-weight: light;
  border-radius: 5px;
}
.nav-link:hover {
  color: #b6241f;
  background-color: #cecece;
}
.nav-link:active {
  color: #b6241f;
  background-color: #cecece;
}
.nav-link:focus {
  color: #b6241f;
  background-color: #cecece;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.752);
}
.dropdown-menu .dropdown-item {
  color: #fff;
  font-weight: lighter;
}
.dropdown-menu .dropdown-item:hover {
  color: #b6241f;
  background-color: #cecece;
}
.dropdown-menu .dropdown-item:active {
  color: #b6241f;
  background-color: #cecece;
}
.dropdown-menu .dropdown-item:focus {
  color: #b6241f;
  background-color: #cecece;
}

i.i {
  font-size: 25px;
  color: #cecece;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

#carouselExampleSlidesOnly {
  margin-top: 150px;
}

.thumb {
  width: 80px !important;
  height: auto !important;
}

.carousel-indicators {
  background-color: rgba(206, 206, 206, 0.5);
  border-radius: 25px;
}

.textoInformativo {
  background-color: #cecece;
  margin: 2em auto;
  padding-top: 20px;
  text-align: center;
  width: 80%;
  height: 320px;
}

.linea {
  position: relative;
  z-index: 1;
}
.linea span {
  background: #cecece;
  padding: 0 15px;
  font-size: 2rem;
  letter-spacing: 8px;
  font-weight: 300;
}
.linea::before {
  border-top: 1px solid #b6241f;
  content: " ";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.carouselImg {
  width: 50%;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.carouselImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.carouselImg img.active {
  opacity: 1;
}

.avance {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cajaTexto {
  position: relative;
  right: 75px;
  color: #fff;
  width: 45%;
  height: 80%;
  background-color: rgba(182, 36, 31, 0.737254902);
  padding: 20px;
}

.superpuesta {
  margin-left: -80px;
  z-index: 1001;
}

.carou {
  margin-left: 40px;
  min-height: 605px;
}

.imgCar {
  width: 100%;
}

/* Comienza pagina historia */
main#historia {
  margin-top: 200px;
}

.imgIzq {
  padding: 10px;
  width: 100%;
  border-top: 2px solid #b6241f;
  border-left: 2px solid #b6241f;
}

.imgDer {
  padding: 10px;
  width: 100%;
  border-top: 2px solid #b6241f;
  border-right: 2px solid #b6241f;
}

.img {
  padding: 10px;
  width: 100%;
}

.imagesHistoria {
  background-color: rgba(182, 36, 31, 0.737254902);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto {
  color: #fff;
  width: 45%;
  background-color: rgba(182, 36, 31, 0.737254902);
  padding: 20px;
  margin: auto;
}

/* Comienza pagina Contacto */
#contacto {
  margin-top: 200px;
}

fieldset {
  border: 2px solid #b6241f;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
fieldset input, fieldset textarea {
  width: 80%;
  margin: 5px auto;
}
fieldset input[type=submit], fieldset textarea[type=submit] {
  width: 30%;
}

iframe {
  margin: auto;
}

.contMapa {
  align-self: center;
}
.contMapa iframe {
  width: 600px;
  height: 450px;
}

/* Comienza pagina La Casa */
.portada {
  margin-top: 220px;
}
.portada img {
  margin-top: 70px;
  width: 100%;
}

.portadaCasa {
  overflow: hidden;
}

.imgLaCasa {
  width: 500px;
  margin: 0 auto;
}

.borde {
  border-bottom: 2px solid #b6241f;
  border-top: 2px solid #b6241f;
}

/* Comienza pagina Eventos */
.contLista {
  width: 500px;
  margin: 50px auto;
  z-index: 1;
}
.contLista ul {
  list-style: inside;
}
.contLista ul li {
  margin-top: 20px;
}

.linkEventos {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.linkEventos:hover {
  color: #797979;
}
.linkEventos:active {
  color: #797979;
}
.linkEventos:focus {
  color: #797979;
}

.contactoEventos {
  margin-top: 150px;
}
.contactoEventos i {
  margin-right: 10px;
}

.txtInfoEventos {
  width: 90%;
  margin: 0 auto;
}

.carouselImgEventos {
  width: 100%;
  height: 800px;
  position: relative;
  margin: 0 auto;
}
.carouselImgEventos .thumbnailsEv {
  position: absolute;
  bottom: 10px;
  left: 50%;
  background-color: rgba(206, 206, 206, 0.5);
  border-radius: 25px;
  width: 40%;
  height: 100px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.carouselImgEventos .thumbnailsEv img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  margin: 0 5px;
}
.carouselImgEventos .carouselE {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carouselImgEventos .carouselE img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.carouselImgEventos .carouselE img.active {
  opacity: 1;
  z-index: 1;
}

/* Comienza pagina Suite Sunset */
#suiteSunset {
  margin-top: 200px;
}

.list {
  margin: auto;
}

.listItem {
  background-color: #cecece;
  line-height: 40px;
}
.listItem:hover {
  background-color: rgba(182, 36, 31, 0.737254902);
}

.galeria {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.img1sunset {
  width: 600px;
}

.img2sunset {
  width: 600px;
}

.img3sunset {
  width: 600px;
}

.img4sunset {
  width: 600px;
}

footer {
  border-top: 1px solid #b6241f;
}
footer i {
  font-size: 30px;
  color: #b6241f;
  margin: 10px;
}

@media only screen and (max-width: 576px) {
  * {
    font-size: 16px;
  }
  .logo {
    width: 280px;
  }
  .linea span {
    letter-spacing: none;
    text-align: center;
  }
  .linea::before {
    display: none;
  }
  .textoInformativo {
    height: auto;
  }
  .avance {
    display: flex;
    flex-direction: column;
  }
  .cajaTexto {
    position: static;
    width: 80%;
    height: auto;
  }
  .carouselImg {
    width: 80%;
    height: 300px;
  }
  /* Pagina la casa */
  .imgLaCasa {
    width: 100%;
  }
  /* Pagina eventos */
  .contLista {
    width: auto;
    text-align: center;
    margin: 0 auto;
  }
  .carouselImgEventos {
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;
  }
  .carouselImgEventos .thumbnailsEv {
    position: static;
    width: auto;
    height: auto;
    transform: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .carouselImgEventos .thumbnailsEv img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    margin: 10px 5px;
  }
  .carouselImgEventos .carouselE {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .carouselImgEventos .carouselE img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .carouselImgEventos .carouselE img.active {
    opacity: 1;
    z-index: 1;
  }
  .txtInfoEventos {
    width: 90%;
    margin: 0 auto;
  }
  .contactoEventos {
    margin-top: 230px;
  }
  .contactoEventos .txtEventos {
    font-size: 16px;
    text-align: center;
  }
  .contactoEventos .txtEventos i {
    font-size: 16px;
    margin-right: 10px;
  }
  /* Pagina historia */
  .texto {
    text-align: center;
    width: 80%;
  }
  /* Pagina contacto */
  fieldset input[type=submit], fieldset textarea[type=submit] {
    width: 60%;
  }
  .contMapa {
    align-self: center;
  }
  .contMapa iframe {
    width: 90%;
    height: 500px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  * {
    font-size: 18px;
  }
  .logo {
    width: 300px;
  }
  .linea span {
    letter-spacing: none;
    text-align: center;
  }
  .linea::before {
    display: none;
  }
  .textoInformativo {
    height: auto;
  }
  .avance {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .cajaTexto {
    position: static;
    width: auto;
  }
  .carouselImg {
    width: 100%;
    height: 500px;
  }
  /* Pagina la casa */
  .imgLaCasa {
    width: 100%;
  }
  /* Pagina historia */
  .texto {
    text-align: center;
    width: 80%;
  }
  /* Pagina eventos */
  .txtInfoEventos {
    width: 90%;
    margin: 0 auto;
  }
  .contLista {
    width: 350px;
    margin: 0 auto;
  }
  .carouselImgEventos {
    width: 90%;
    height: 500px;
    position: relative;
    margin: 0 auto;
  }
  .carouselImgEventos .thumbnailsEv {
    position: static;
    width: auto;
    height: auto;
    margin-top: 10px;
    transform: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .carouselImgEventos .thumbnailsEv img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 5px;
  }
  .carouselImgEventos .carouselE {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .carouselImgEventos .carouselE img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .carouselImgEventos .carouselE img.active {
    opacity: 1;
    z-index: 1;
  }
  .contactoEventos {
    margin-top: 200px;
  }
  .contactoEventos .txtEventos {
    font-size: 16px;
    text-align: center;
  }
  .contactoEventos .txtEventos i {
    font-size: 16px;
    margin-right: 10px;
  }
  /* Pagina contacto */
  fieldset input[type=submit], fieldset textarea[type=submit] {
    width: 60%;
  }
  .contMapa {
    align-self: center;
  }
  .contMapa iframe {
    width: 90%;
    height: 500px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .logo {
    width: 400px;
  }
  .textoInformativo {
    height: auto;
  }
  .cajaTexto {
    position: static;
    width: 90%;
    margin-top: 20px;
  }
  .carouselImg {
    width: 100%;
    height: 600px;
  }
  /* Pagina la casa */
  .imgLaCasa {
    width: 100%;
  }
  .carouselImgEventos {
    width: 100%;
    height: 600px;
    position: relative;
    margin: 0 auto;
  }
  .carouselImgEventos .thumbnailsEv {
    position: absolute;
    bottom: 1%;
    left: 50%;
    background-color: rgba(206, 206, 206, 0.5);
    border-radius: 25px;
    width: 100%;
    height: 100px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .carouselImgEventos .thumbnailsEv img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 5px;
  }
  .carouselImgEventos .carouselE {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .carouselImgEventos .carouselE img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .carouselImgEventos .carouselE img.active {
    opacity: 1;
    z-index: 1;
  }
  /* Pagina historia */
  .texto {
    text-align: center;
    width: 80%;
  }
  /* Pagina eventos */
  .contLista {
    margin: 20px auto;
  }
  /* Pagina contacto */
  fieldset input[type=submit], fieldset textarea[type=submit] {
    width: 60%;
  }
  .contMapa {
    align-self: center;
  }
  .contMapa iframe {
    width: 80%;
    height: 700px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1571px) {
  nav {
    text-align: center;
  }
  nav ul li:hover {
    background-color: #b6241f;
  }
  .texto {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .cajaTexto {
    position: relative;
    right: 50px;
    color: #fff;
    width: 40%;
    height: 80%;
    background-color: rgba(182, 36, 31, 0.737254902);
    padding: 20px;
  }
  .carouselImg {
    width: 58%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  .carouselImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 0;
    margin-left: 10px;
  }
  .carouselImg img.active {
    opacity: 1;
  }
  /* Comeinza La casa */
  .imgLaCasa {
    width: 100%;
    margin: 0 auto;
  }
  /* Comeinza pagina Contacto */
  .contMapa {
    align-self: center;
  }
  .contMapa iframe {
    width: 80%;
  }
  /* Comienza pagina eventos */
  .carouselImgEventos {
    width: 100%;
    height: 700px;
    position: relative;
    margin: 0 auto;
  }
  .carouselImgEventos .thumbnailsEv {
    position: absolute;
    bottom: 2%;
    left: 50%;
    background-color: rgba(206, 206, 206, 0.5);
    border-radius: 25px;
    width: 100%;
    height: 100px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .carouselImgEventos .thumbnailsEv img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 5px;
  }
  .carouselImgEventos .carouselE {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .carouselImgEventos .carouselE img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .carouselImgEventos .carouselE img.active {
    opacity: 1;
    z-index: 1;
  }
}

/*# sourceMappingURL=estilos.css.map */
