// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

$fontTxt: 'Montserrat', sans-serif;

@mixin imgPW {
    padding: 10px;
    width: 100%;
};

// Colores
$colorRojo: #b6241f;
$colorRojoTransparente: #b6241fbc;
$colorGris: #797979;
$colorGrisClaro: #cecece;


* {
    font-family: $fontTxt;
    font-size: 20px;
}

h1 {
    color: $colorRojo;
}

h2 {
    color: $colorRojo;
    font-weight: 300;
    letter-spacing: 8px;
}

h3 {
    color: $colorRojo;
    font-weight: 300;
}

h4 {
    color: $colorRojo;
    font-weight: 300;
}
body {
    background-color: $colorGrisClaro;
}

nav {
    background-color: rgba(0, 0, 0, 0.822);
    min-height: 150px;
}

.nav-link {
    color: #fff;
    font-weight: light;
    border-radius: 5px;
    &:hover {
        color: $colorRojo;
        background-color: $colorGrisClaro;
    }
    &:active {
        color: $colorRojo;
        background-color: $colorGrisClaro;
    }
    &:focus {
        color: $colorRojo;
        background-color: $colorGrisClaro;
    }
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.752);
    .dropdown-item {
        color: #fff;
        font-weight: lighter;
        &:hover {
            color: $colorRojo;
            background-color: $colorGrisClaro;
        }
        &:active {
            color: $colorRojo;
            background-color: $colorGrisClaro;
        }
        &:focus {
            color: $colorRojo;
            background-color: $colorGrisClaro;
        }
    }
}

i.i {
    font-size: 25px;
    color: $colorGrisClaro;
}

.navbar-toggler {
    border: none;
    &:focus {
        box-shadow: none;
    }
}

#carouselExampleSlidesOnly {
    margin-top: 150px;
}

.thumb {
    width: 80px !important;
    height: auto !important;
}

.carousel-indicators {
    background-color: rgba($color: $colorGrisClaro, $alpha: 0.5);
    border-radius: 25px;
}

.textoInformativo {
    background-color: $colorGrisClaro;
    margin: 2em auto;
    padding-top: 20px;
    text-align: center;
    width: 80%;
    height: 320px;

}        

.linea {
    position: relative;
    z-index: 1;
    span {
        background: $colorGrisClaro;
        padding: 0 15px;
        font-size: 2rem;
        letter-spacing: 8px;
        font-weight: 300;

    }
    &::before{
        border-top: 1px solid $colorRojo;
        content: " ";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
    }
}

.carouselImg {
    width: 50%;
    height: 700px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      transition: opacity 0.5s ease;
      opacity: 0;
  
      &.active {
        opacity: 1;
      }
    }
  }

.avance {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cajaTexto {
    position: relative;
    right: 75px;
    color: #fff;
    width: 45%;
    height: 80%;
    background-color: $colorRojoTransparente;
    padding: 20px;
}

.superpuesta {
    margin-left: -80px;
    z-index: 1001;
}

.carou {
    margin-left: 40px;
    min-height: 605px;
}

.imgCar {
    width: 100%;
}

/* Comienza pagina historia */

main#historia {
    margin-top: 200px;
}

.imgIzq {
    @include imgPW();
    border-top: 2px solid $colorRojo;
    border-left: 2px solid $colorRojo;
}

.imgDer {
    @include imgPW();
    border-top: 2px solid $colorRojo;
    border-right: 2px solid $colorRojo;
}

.img {
    @include imgPW();
}


.imagesHistoria {
    background-color: $colorRojoTransparente;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto {
    color: #fff;
    width: 45%;
    background-color: $colorRojoTransparente;
    padding: 20px;
    margin: auto;
}

/* Comienza pagina Contacto */

#contacto {
    margin-top: 200px;
}

fieldset {
    border: 2px solid $colorRojo;
    padding: 20px;
    display: flex;
    flex-direction: column;
    input {
        width: 80%;
        margin: 5px auto;
    }
    textarea {
        @extend input
    }
    input[type="submit"]{
        width: 30%;
    }
}

iframe {
    margin: auto;
}

.contMapa {
    align-self: center;
    iframe {
        width: 600px; 
        height: 450px;
    }
}

/* Comienza pagina La Casa */

.portada {
    margin-top: 220px;
    img {
        margin-top: 70px;
        width: 100%;
    }
}

.portadaCasa {
    overflow: hidden;
}

.imgLaCasa {
    width: 500px;
    margin: 0 auto;
}

.borde {
    border-bottom: 2px solid $colorRojo;
    border-top: 2px solid $colorRojo;

}

/* Comienza pagina Eventos */

.contLista {
    width: 500px;
    margin: 50px auto;
    z-index: 1;
    ul {
        list-style: inside;
        li {
            margin-top: 20px;
        }
    }
}

.linkEventos {
    text-decoration: none;
    font-family: $fontTxt;
    color: black;
    &:hover {
        color: $colorGris;
    }
    &:active {
        color: $colorGris;
    }
    &:focus {
        color: $colorGris;
    }
}

.contactoEventos {
    margin-top: 150px;
    i {
        margin-right: 10px;
    }
}

.txtInfoEventos {
    width: 90%;
    margin: 0 auto;
}

.carouselImgEventos {
    width: 100%;
    height: 800px;
    position: relative;
    margin: 0 auto;
    .thumbnailsEv {
        position: absolute;
        bottom: 10px;
        left: 50%;
        background-color: rgba($color: $colorGrisClaro, $alpha: 0.5);
        border-radius: 25px;
        width: 40%;
        height: 100px;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 2;
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          cursor: pointer;
          margin: 0 5px;
        }
    }
    .carouselE {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: absolute;
          transition: opacity 0.5s ease;
          opacity: 0;
        }
        img.active {
          opacity: 1;
          z-index: 1;
        }
      }
  }

/* Comienza pagina Suite Sunset */

#suiteSunset {
    margin-top: 200px;
}

.list {
    margin: auto;
}

.listItem {
    background-color: $colorGrisClaro;
    line-height: 40px;
    &:hover {
        background-color: $colorRojoTransparente;
    }
}

.galeria {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}

.img1sunset {
    width: 600px;
}

.img2sunset {
    width: 600px;
}

.img3sunset {
    width: 600px;
}

.img4sunset {
    width: 600px;
}

footer {
    border-top: 1px solid $colorRojo;
    i {
        font-size: 30px;
        color: $colorRojo;
        margin: 10px;
    }
}

@media only screen and (max-width: 576px) {

    * {
        font-size: 16px;
    }

    .logo {
        width: 280px;
    }

    .linea {
        span {
            letter-spacing: none;
            text-align: center;
        }
        &::before{
            display: none;
        }
    }

    .textoInformativo {
        height: auto;
    }

    .avance {
        display: flex;
        flex-direction: column;
    }

    .cajaTexto {
        position: static;
        width: 80%;
        height: auto;
    }

    .carouselImg {
        width: 80%;
        height: 300px;
    }

    /* Pagina la casa */
    
    .imgLaCasa {
        width: 100%;
    }
    
    /* Pagina eventos */
    
    .contLista {
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
    
    .carouselImgEventos {
        width: 100%;
        height: 400px;
        position: relative;
        margin: 0 auto;
        .thumbnailsEv {
            position: static;
            width: auto;
            height: auto;
            transform: none;
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;
            justify-content: center;
            align-items: center;
            z-index: 2;
            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
              cursor: pointer;
              margin: 0 5px;
            }
        }
        .carouselE {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              position: absolute;
              transition: opacity 0.5s ease;
              opacity: 0;
            }
            img.active {
              opacity: 1;
              z-index: 1;
            }
          }
      }

    .txtInfoEventos {
        width: 90%;
        margin: 0 auto;
    }
    
    .contactoEventos {
        margin-top: 230px;
        .txtEventos {
            font-size: 16px;
            text-align: center;
            i {
                font-size: 16px;
                margin-right: 10px;
            }
        }
    }
    
    /* Pagina historia */
    
    .texto {
        text-align: center;
        width: 80%;
    }
    
    /* Pagina contacto */
    
    fieldset {
        input[type="submit"] {
            width: 60%;
        }
    }
    
    .contMapa {
        align-self: center;
        iframe {
            width: 90%;
            height: 500px;
        }
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {

    * {
        font-size: 18px;
    }

    .logo {
        width: 300px;
    }

    .linea {
        span {
            letter-spacing: none;
            text-align: center;
        }
        &::before{
            display: none;
        }
    }

    .textoInformativo {
        height: auto;
    }

    .avance {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .cajaTexto {
        position: static;
        width: auto;
    }

    .carouselImg {
        width: 100%;
        height: 500px;
    }

     /* Pagina la casa */
    
     .imgLaCasa {
        width: 100%;
    }

    /* Pagina historia */

    .texto {
        text-align: center;
        width: 80%;
    }

    /* Pagina eventos */

    .txtInfoEventos {
        width: 90%;
        margin: 0 auto;
    }

    .contLista {
        width: 350px;
        margin: 0 auto;
    }

    .carouselImgEventos {
        width: 90%;
        height: 500px;
        position: relative;
        margin: 0 auto;
        .thumbnailsEv {
            position: static;
            width: auto;
            height: auto;
            margin-top: 10px;
            transform: none;
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;
            justify-content: center;
            align-items: center;
            z-index: 2;
            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
              cursor: pointer;
              margin: 0 5px;
            }
        }
        .carouselE {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              position: absolute;
              transition: opacity 0.5s ease;
              opacity: 0;
            }
            img.active {
              opacity: 1;
              z-index: 1;
            }
          }
      }

    
    .contactoEventos {
        .txtEventos {
            font-size: 16px;
            text-align: center;
            i {
                font-size: 16px;
                margin-right: 10px;
            }
        }
    }

    /* Pagina contacto */

    fieldset {
        input[type="submit"] {
            width: 60%;
        }
    }
    
    .contMapa {
        align-self: center;
        iframe {
            width: 90%;
            height: 500px;
        }
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

    .logo {
        width: 400px;
    }

    .textoInformativo {
        height: auto;
    }

    .cajaTexto {
        position: static;
        width: 90%;
        margin-top: 20px;
    }

    .carouselImg {
        width: 100%;
        height: 600px;
    }

    /* Pagina la casa */

    .imgLaCasa {
        width: 100%;
    }

    .carouselImgEventos {
        width: 90%;
        height: 600px;
        position: relative;
        margin: 0 auto;
        .thumbnailsEv {
            position: absolute;
            bottom: 8%;
            left: 50%;
            background-color: rgba($color: $colorGrisClaro, $alpha: 0.5);
            border-radius: 25px;
            width: 80%;
            height: 100px;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            z-index: 2;
            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
              cursor: pointer;
              margin: 0 5px;
            }
        }
        .carouselE {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              position: absolute;
              transition: opacity 0.5s ease;
              opacity: 0;
            }
            img.active {
              opacity: 1;
              z-index: 1;
            }
          }
      }

    /* Pagina historia */

    .texto {
        text-align: center;
        width: 80%;
    }

    /* Pagina eventos */

    .contLista {
        margin: 20px auto;
    }

    /* Pagina contacto */

    fieldset {
        input[type="submit"] {
            width: 60%;
        }
    }
    
    .contMapa {
        align-self: center;
        iframe {
            width: 80%;
            height: 700px;
        }
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {

    nav {
        text-align: center;
        ul {
            li {
                &:hover {
                    background-color: $colorRojo;
                }
            }
        }
    }

    .texto {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .cajaTexto {
        position: relative;
        right: 50px;
        color: #fff;
        width: 40%;
        height: 80%;
        background-color: $colorRojoTransparente;
        padding: 20px;
    }

    .carouselImg {
        width: 58%;
        height: 500px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: absolute;
          transition: opacity 0.5s ease;
          opacity: 0;
          margin-left: 10px;
      
          &.active {
            opacity: 1;
          }
        }
      }

    /* Comeinza La casa */

    .imgLaCasa {
        width: 100%;
        margin: 0 auto;
    }

    /* Comeinza pagina Contacto */

    .contMapa {
        align-self: center;
        iframe {
            width: 80%;
        }
    }

    /* Comienza pagina eventos */

    .carouselImgEventos {
        width: 90%;
        height: 700px;
        position: relative;
        margin: 0 auto;
        .thumbnailsEv {
            position: absolute;
            bottom: 8%;
            left: 50%;
            background-color: rgba($color: $colorGrisClaro, $alpha: 0.5);
            border-radius: 25px;
            width: 80%;
            height: 100px;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            z-index: 2;
            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
              cursor: pointer;
              margin: 0 5px;
            }
        }
        .carouselE {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              position: absolute;
              transition: opacity 0.5s ease;
              opacity: 0;
            }
            img.active {
              opacity: 1;
              z-index: 1;
            }
          }
      }
}