// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

$fontTxt: 'Montserrat', sans-serif;

@mixin imgPW {
    padding: 10px;
    width: 100%;
};

// Colores
$colorRojo: #b6241f;
$colorRojoTransparente: #b6241fbc;
$colorGris: #797979;
$colorGrisClaro: #cecece;

* {
    font-family: $fontTxt;
    font-size: 20px;
}

h1 {
    color: $colorRojo;
}

h2 {
    color: $colorRojo;
    font-weight: 300;
    letter-spacing: 8px;
}

h3 {
    color: $colorRojo;
    font-weight: 300;
}
h4 {
    color: $colorRojo;
    font-weight: 300;
}
body {
    background-color: $colorGrisClaro;
}

nav {
    background-color: rgba(0, 0, 0, 0.822);
    min-height: 150px;
}

.nav-link {
    color: #fff;
    font-weight: light;
    &:hover {
        color: $colorRojo;
    }
    &:active {
        color: $colorRojo;
    }
    &:focus {
        color: $colorRojo;
    }
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.752);
    .dropdown-item {
        color: #fff;
        font-weight: lighter;
        &:hover {
            color: $colorRojo;
        }
    }
}

i.i {
    font-size: 25px;
    color: $colorGrisClaro;
}

.navbar-toggler {
    border: none;
    &:focus {
        box-shadow: none;
    }
}

#carouselExampleSlidesOnly {
    margin-top: 150px;
}

.textoInformativo {
    background-color: $colorGrisClaro;
    margin: 2em auto;
    padding-top: 20px;
    text-align: center;
    width: 80%;
    height: 320px;

}        

.linea {
    position: relative;
    z-index: 1;
    span {
        background: $colorGrisClaro;
        padding: 0 15px;
        font-size: 2rem;
        letter-spacing: 8px;
        font-weight: 300;

    }
    &::before{
        border-top: 1px solid $colorRojo;
        content: " ";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
    }
}
.avances {
    h2 {
        border-top: 1px solid $colorRojo;
        width: 50%;
        margin: 0 auto;
        padding-top: 50px;
    }
}
.superpuesta {
    margin-left: -100px;
}

.cajaTexto {
    color: #fff;
    width: 80%;
    height: 80%;
    background-color: $colorRojoTransparente;
    padding: 10px;
}
/* Comienza pagina historia */

main#historia {
        margin-top: 200px;
}

.imgIzq {
    @include imgPW();
    border-top: 2px solid $colorRojo;
    border-left: 2px solid $colorRojo;
}

.imgDer {
    @include imgPW();
    border-top: 2px solid $colorRojo;
    border-right: 2px solid $colorRojo;
}

.img {
    @include imgPW();
}

.imagesHistoria {
    background-color: $colorRojoTransparente;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto {
    color: #fff;
    width: 45%;
    background-color: $colorRojoTransparente;
    padding: 20px;
    margin: auto;
}

/* Comienza pagina Contacto */

#contacto {
    margin-top: 200px;
}

fieldset {
    border: 2px solid $colorRojo;
    padding: 20px;
    display: flex;
    flex-direction: column;
    input {
        width: 80%;
        margin: 5px auto;
    }
    textarea {
        @extend input
    }
    input[type="submit"]{
        width: 30%;
    }
}


iframe {
    margin: auto;
}

.contMapa {
    align-self: center;
}

/* Comienza pagina La Casa */

.portada {
    margin-top: 220px;
    img {
        margin-top: 70px;
        width: 100%;
    }
}

.imgLaCasa {
    width: 500px;
    margin: auto;
}

.borde {
    border-bottom: 2px solid $colorRojo;
    border-top: 2px solid $colorRojo;

}

/* Comienza pagina Suite Sunset */

#suiteSunset {
    margin-top: 200px;
}

.list {
    // width: 60%;
    margin: auto;
}

.listItem {
    background-color: $colorGrisClaro;
    line-height: 40px;
    &:hover {
        background-color: $colorRojoTransparente;
    }
}

.galeria {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}

.img1sunset {
    width: 600px;
}

.img2sunset {
    width: 600px;
}

.img3sunset {
    width: 600px;
}

.img4sunset {
    width: 600px;
}

footer {
    border-top: 1px solid $colorRojo;
    i {
        font-size: 30px;
        color: $colorRojo;
        margin: 10px;
    }
}


@media only screen and (max-width: 1200px) {
    nav {
        text-align: center;
        ul {
            li {
                &:hover {
                    background-color: $colorRojo;
                }
            }
        }
    }

    .texto {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}